.header__imail {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  margin: 0;
}

@media screen and (max-width: 460px) {
  .header__imail {
    display: none;
  }
}