.mobile-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #545454;
}

/* @media screen and (max-width: 470px) {
  .mobile-menu {
    display: flex;
  }
} */