.popup__button-close {
  background-image: url(../../../image/CloseIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 32px;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
  background-color: transparent;
  border: 0;
  transition: opacity 0.5s linear;
}

.popup__button-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 570px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
