.mobile-menu__button {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #A9A9A9;
  margin-bottom: 40px;
  transition: opacity 0.2s linear;
}

.mobile-menu__button:hover {
  opacity: 0.7;
}