.header__button {
  height: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  text-decoration: none;
  transition: opacity 0.2s linear;
}

.header__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 410px) {
  .header__button {
    margin-right: 30px;
  }
}